#window {
	border-radius: 1rem;
	background-color: rgba(0x28, 0x2a, 0x36, 0.7);
	color: #f8f8f2;
	font-size: 1.25rem;
}

#input {
	border-radius: 1rem;
	background: none; /*-color: rgba(0x28, 0x2a, 0x36, 0.7);*/
	border: none;
	color: #f8f8f2;
}
#input:placeholder {
	/* color: #6272a4; */
	color: red;
}
#entry {
	padding: 0 1rem;
	border-radius: 1rem;
}
#entry:selected {
	outline: none;
	background-color: #9b6bdf;
}
